body
{
    background-size:cover;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    padding: 15px;
}

.note
{
    font-size: 15px;
    color:black;
}

.noteit
{
    font-size: 15px;
    color:black;
}

canvas
{
    border: 20px;
    box-shadow: 10px;
    margin: 5px;
}